{% if data.favorites is defined %}
    <h2>Favorites</h2>
    <p style="margin-left: 5px" >
    {% for item in data.favorites %}
        {% if item.icon_path is null %}
            <img width="12" height="12" src="/static/img/void.gif" />
        {% else %}
            <img width="12" height="12" src="{{ data.config.wiki_url }}{{ item.icon_path }}" />
        {% endif %}
        <a href="/index/stock/{{ item.title|lower|url_encode }}/">{{ item.title }}</a>
        <br />
    {% endfor %}
    </p>
{% endif %}
