<h2>Trade Portal</h2>

<div itemtype="http://schema.org/ItemList" style="margin-left: 5px">
{% for item in stocks %}
    <div itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
    {% if item.icon_path is null %}
        <img width="12" height="12" src="/static/img/void.gif" />
    {% else %}
        <img itemprop="image" width="12" height="12" src="{{ data.config.wiki_url }}{{ item.icon_path }}" />
    {% endif %}
    <a itemprop="url" href="/index/stock/{{ item.title|lower|url_encode }}/"><span itemprop="name">{{ item.title }}</span></a>
    <br />
    </div>
{% endfor %}
</div>
