<html>
<head>
    <!-- HTML Head -->
    <title>
        {% if data.basic.title %}{{ data.basic.title }} | {% endif %}The Blockheads - Black Market Exchange (Blockmarket)
    </title>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="The Blockheads - Black Stock Market">
    <meta name="keywords" content="theblockheads,blockheads,trade portal,stock,item,market,charts{% if data.basic.title is defined %},{{ data.basic.title}}{% endif %}">
    <meta http-equiv="Lang" content="en">
    <!-- jQuery -->
    <script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="/static/js/jquery/jquery.sparkline.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <!-- Charts -->
    <script src="http://code.highcharts.com/stock/highstock.js"></script>
    <script src="http://code.highcharts.com/stock/modules/exporting.js"></script>
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type='text/css'>
    <!-- javascript -->
    <script type="text/javascript" src="/static/js/coolclock.js"></script>
    <script src="/static/js/favorites.js"></script>
    {% block headjs %}{% endblock %}
    <!-- Style -->
    <style>
        body {
            font-family: 'Lato', sans-serif;
        }
        /*
        [class*="col-"] {
          padding-top: 15px;
          padding-bottom: 15px;
          background-color: #eee;
          background-color: rgba(86,61,124,.15);
          border: 1px solid #ddd;
          border: 1px solid rgba(86,61,124,.2);
        }
        */
    </style>
</head>
<body onload="CoolClock.findAndCreateClocks()">
    <div class="row">
        <div class="col-md-2"><div id="items">{% block blitems %}{% endblock %}</div></div>
        <div class="col-md-7"><div id="charts">{% block blcharts %}{% endblock %}</div></div>
        <div class="col-md-3">
            <div id="title" style="text-align: center">
                <h1 class="bg-primary" style="border-radius: 15px;">The Blockheads<br />Black Market</h1>
                {% if data.config.timezone is defined %}
                    <canvas id="clockid" class="CoolClock:classic:88:true:{{ data.config.timezone.gmtdiffhours }}"></canvas><br />
                    {{ data.config.timezone.zone }} (GMT{{ data.config.timezone.gmtdiff }})
                {% endif %}
            </div>
            {% block blreceips %}{% endblock %}
            {% block blabout %}{% endblock %}
        </div>
    </div>
    <script>extendCookie('favorites');</script>
</body>
</html>